In [1]:
import myCalc as calc
import myProjection as projection
import pandas as pd

# projection code within myCalc module

Do not use `myCalc.projection()` function. I think the results look wrong. I left `myCalc.projection()` function in the myCalc module so you could compare the results in the ipynb I updated (attached).

I also updated the myCalc module. The use (i.e. input) is slightly different than before.  So if you used the old version of the myCalc module in any other way or any other notebook, then your code might break. Sorry. I'm a terrible coder.

I also updated the myProjection module to work with the new version of the myCalc module. So please use those new versions together to get the `projection.geo_project()` function working properly.

It's a mess. I know. I think there is still room for improvement, but this is the best I have right now.

Good luck.

In [2]:
calc.projection(132, 32, 45, pd.DataFrame({'la':[31,32,33],'lo':[131,132,133]}))

   la   lo          xx         yy
0  31  131  106.360797 -32.517759
1  32  132    0.000000   0.000000
2  33  133 -107.430858  28.786012

# geo_project code within myProjection module

In [3]:
originLo = 132 # origin longitude
originLa = 32 # origin latitude
bearing = 45 # degrees from north
transectDistance = 250 # km (defines end points of the transection, 
# transectDistance really shouldn't be too big because of earth's curvature 
# but because of our df sample lons/lats i made this number big)

df = pd.DataFrame({'la':[31,31.5, 32, 32.5, 33, 33.5],'lo':[131,131.5,132,132.5,133,133.5]})

result = projection.geo_project(df,originLo,originLa,bearing,transectDistance,maxDist=0)

# origin 132, 32 (index==2) calculation is not exactly zero but it is close to zero. 
# there must be some rounding or precision effects.

In [4]:
originLo = 132 # origin longitude
originLa = 32 # origin latitude
bearing = 55 # degrees from north
transectDistance = 250 # km

projection.geo_project(df,originLo,originLa,bearing,transectDistance,maxDist=0)

# the first point 131,31 is outside of the range of transect end points after the projection (the new longitude and latitude)
# so it was removed from the final product

# the values differ from the ones above at a bearing of 45

     la     lo            xx         yy
0  32.0  132.0 -2.842171e-14  -0.000003
1  32.5  132.5 -7.038325e+01 -18.743751
2  33.0  133.0 -1.404647e+02 -37.959889

# John's old work

In [5]:
calc.projection(132, 32, 55, pd.DataFrame({'la':[31,32,33],'lo':[131,132,133]}))

   la   lo          xx         yy
0  31  131  106.360797 -32.517759
1  32  132    0.000000   0.000000
2  33  133 -107.430858  28.786012

In [6]:
calc.projection(132, 32, 65, pd.DataFrame({'la':[31,32,33],'lo':[131,132,133]}))

   la   lo          xx         yy
0  31  131  106.360797 -32.517759
1  32  132    0.000000   0.000000
2  33  133 -107.430858  28.786012