# Distance functions Examples

Import the distance module

In [1]:
from utilities import distance

# Create sample data

In [2]:
from mpl_toolkits.basemap import Basemap
import pandas as pd
import numpy as np

In [3]:
a = [[129, 32.6, 50.1, np.nan, np.nan]
    ,[131.2, 33.1, 6.5, np.nan, np.nan]]
df_a = pd.DataFrame(a, columns=['lon', 'lat', 'depth', 'x', 'y'])

In [4]:
b = [[139.6917, 35.6895, 0.0, np.nan, np.nan]]
df_b = pd.DataFrame(b, columns=['lon', 'lat', 'depth', 'x', 'y'])

In [5]:
m = Basemap(projection='merc')
df_a['x'], df_a['y'] = m(df_a.lon.values, df_a.lat.values)
df_b['x'], df_b['y'] = m(df_b.lon.values, df_b.lat.values)

In [6]:
df_a

     lon   lat  depth             x             y
0  129.0  32.6   50.1  3.435922e+07  6.338483e+07
1  131.2  33.1    6.5  3.460384e+07  6.345102e+07

In [7]:
df_b

        lon      lat  depth             x             y
0  139.6917  35.6895    0.0  3.554808e+07  6.380002e+07

# Calculate distance between points

all results are given in meters

In [8]:
distance.cartesian_distance_between_two_cartesian_vectors(df_a.head(1), df_b.head(1))

1259274.4677030656

In [9]:
distance.cartesian_distance_between_two_coordinates(df_a.head(1), df_b.head(1), shape='cylinder')

1058792.3299117831

In [10]:
distance.cartesian_distance_between_two_coordinates(df_a.head(1), df_b.head(1), shape='sphere')

1058792.3310971006