In [2]:
%matplotlib inline
import numpy as np
import pandas as pd
from itertools import product
eq = {'magnitude':7.3, 'time':pd.to_datetime('01-01-2000')}

In [3]:
rupture_length = 0.01*10**(0.5*eq['magnitude'])

radii = np.arange(5, rupture_length * 1.5 + 1, 1)
foreshock_time = eq['time']

timii = pd.date_range(start='01-01-1990 00:00:00', end=foreshock_time, freq='1M')

a = [radii, timii]
# a = [radii, radii[::-1], timii, timii[::-1]]
parameters = [x for x in product(*a)]
# params = pd.DataFrame(parameters, columns=['r1','r2','t1','t2'])
params = pd.DataFrame(parameters, columns=['r1','t1'])

params.shape

(7680, 2)

In [11]:
r1 = [1, 2]
r2 = [2, 1]
t1 = ['a', 'b']
t2 = ['a', 'b']

a = [r1, r2, t1, t2]
# p = [x for x in product(*a)]
p = (x for x in product(*a) if len(x) == len(set(x)))
p = pd.DataFrame(p, columns=['r1','r2','t1','t2'])
p

   r1  r2 t1 t2
0   1   2  a  b
1   1   2  b  a
2   2   1  a  b
3   2   1  b  a

In [12]:
r1 = [1, 2]
r2 = [2, 1]
t1 = ['a', 'b']
t2 = ['a', 'b']

a = [r1, r2, t1, t2]
p = [x for x in product(*a)]
# p = (x for x in product(*a) if len(x) == len(set(x)))
p = pd.DataFrame(p, columns=['r1','r2','t1','t2'])
p

    r1  r2 t1 t2
0    1   2  a  a
1    1   2  a  b
2    1   2  b  a
3    1   2  b  b
4    1   1  a  a
5    1   1  a  b
6    1   1  b  a
7    1   1  b  b
8    2   2  a  a
9    2   2  a  b
10   2   2  b  a
11   2   2  b  b
12   2   1  a  a
13   2   1  a  b
14   2   1  b  a
15   2   1  b  b

In [13]:
p['d'] = p.r1.astype(str) + p.r2.astype(str) + p.t1 + p.t2

In [14]:
p['d'] = p['d'].apply(lambda x: ''.join(sorted(x)))

In [26]:
p.drop_duplicates('d')

(9, 5)

In [27]:
p[(p.r1 != p.r2)]

    r1  r2 t1 t2     d
0    1   2  a  a  12aa
1    1   2  a  b  12ab
2    1   2  b  a  12ab
3    1   2  b  b  12bb
12   2   1  a  a  12aa
13   2   1  a  b  12ab
14   2   1  b  a  12ab
15   2   1  b  b  12bb

In [17]:
0.01 * 10**(0.5*6)

10.0